<!DOCTYPE html>
<html>
<head>
  <title>BackendTakehome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Question-o-tron</h1>
  <h3>How many questions would you like?</h3>

<%= yield %>

</body>
</html>
